# Erlang specifics
/ebin/*
*.plt
erl_crash.dump

# Test specifics
/ct*
/test/*.beam
*.js
*.html
variables-*
_build
rebar.lock
.rebar3
/logs

# Build tool  specifics
/deps
/_rel
relx
*.d
.erlang.mk
.erlang.mk.*

# IDE specifics
*.iml
.idea
