{deps,
    [
        {hackney, "fd706efd73c2c906", {git, "https://github.com/benoitc/hackney.git"}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git"}}
    ]
}.

{overrides, [
  {override, jiffy, [
    {plugins, [
      {pc, {git, "git@github.com:blt/port_compiler.git", {branch, "master"}}}
    ]},

    {provider_hooks, [
      {post,
        [
          {compile, {pc, compile}},
          {clean, {pc, clean}}
        ]
      }]
    }
  ]}
]}.